/* styles for  menu */
.cbp-spmenu {
	/*menu以下的背景色*/
	background: #47a3da;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

.cbp-spmenu-vertical {
	width: 180px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

/*文字间隔*/
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}

.cbp-spmenu-right {
	right: -180px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/*滑动效果*/
.cbp-spmenu {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

nav a {
	color: #f0f0f0;
	text-decoration: none;
}

nav a:hover {
	color: #000;
}

#showRight{
	position: absolute;
	width: 50px;
	height: 50px;
	line-height: 20px;
	left: -50px;
	top: 70px;
}

.mask {
	margin: 0 auto;
	width: 100%;
	height: 500%;
	position: absolute;
	float: left;
	z-index: -1;
	opacity: 0;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
/*mask open一定要放在mask下面*/
.mask-open{
	background: black;
	z-index: 999;
	opacity: 0.5;
}
.navContent{
	position: absolute;
	left: -550px;
	padding: 15px;
	background-color: rgba(155,215,255,0.62);
	border-radius: 15px;
	opacity: 0;
	display: none;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
}
.navContent-hover{
	opacity: 1;
}
.navOpen{
	display: block;
}
#tec{
	top: 140px;
}

#Humanistic-spirit{
	top: 200px;
}

#history{
	top: 260px;
}

#nowadays{
	top: 320px;
}